/**{*/
/*  font-family: fantasy;*/
/*}*/
body{
  font-size: 20px;
}

#first{
  color: blue;
  
}
/*specificity*/
#first, #second, #third{
  color: lightpink;
}
#second{
  color:lightblue;
}
/*nested selector*/
#first>p{
  color: green;
}
/*!important*/
.purple{
  color: purple !important;
}

.highlight{
  background-color: yellow;
  font-style: italic;
}
p:hover{
  font-family: Monospace;
}
